.App {
  text-align: center;
}

.lgin-envelop{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 90%;
  margin: 0 auto;
}

.login-envelop,
.signup-envelop{
  padding: 10%;
}

.form-envelop{
  max-width: 90%;
  margin: 0 auto;
}

.login-form-button,
.signup-form-button{
  width: 100%;
}

.container{
  padding: 25px;
}

.hide{
  display: none;
}

.input-file:hover{
  cursor: pointer;
}